html {
  min-height: 100vh;
}

body {
  margin: 0;
  color: var(--white);
  background-repeat: no-repeat;
  background-color: var(--gray-dark);
  background-image: url(/images/paisley-left.svg);
  background-size: 300px;
  background-position: left calc(100vh - 515px);
  background-repeat: no-repeat;
  font-family: var(--font-body);
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
@media (min-width: 600px) {
  body {
    background-size: 500px;
    background-position: left calc(100vh - 880px);
  }
}

a {
  color: var(--brand-primary);
  font-weight: 400;
  transition: color 0.2s linear;
  text-decoration-color: var(--white);
}
a:hover {
  color: var(--orange-6);
  transition: none;
}
a:active {
  color: var(--orange-5);
}

h1,
h2,
h3 {
  color: var(--gray-4);
  font-family: var(--font-heading);
  font-weight: 400;
}

button,
input,
select {
  line-height: inherit;
}

label:hover {
  user-select: none;
}

svg {
  fill: currentColor;
  height: 1em;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: var(--focus-outline);
}

.button {
  padding: var(--input-padding);
  border: 1px solid var(--brand-primary);
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  color: var(--white);
}
