.page-heading {
  align-self: stretch;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 2rem;
  color: var(--gray-8);
}

.section-heading {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--gray-8);
}
