.style-indicator {
  margin: 0;
  text-align: center;

  svg {
    height: 25px;
  }
}

.metadata-label,
.style-indicator figcaption {
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-8);
  font-size: 0.7rem;
  letter-spacing: 0.02em;

  &:first-child {
    margin-top: 28px;

    @media (min-width: 40em) {
      margin-top: 0;
    }
  }
}
